@import './base.css';

#app .dashboard {

  display: flex;
  flex-direction: column;
    height: 100vh;
    /* Ensure dashboard takes up full viewport height */


  .main-content {
      display: flex;
      flex: 1;
      /* Grow to fill remaining space */
    }
.content {
  flex: 1;
  /* Grow to fill remaining space */
  padding: 20px;
  /* Adjust padding as needed */
  overflow-y: auto;
  /* Add scroll if content overflows */
  }
}


#app .login {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  .login body {
    display: flex;
    place-items: center;
  }

  #app .login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


.container {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  margin-bottom: 20px;
  /* Increased spacing between input boxes */
  width: 100%;
}

.input-box label {
  display: block;
  /* Display labels as block elements */
  margin-bottom: 5px;
  /* Add space between labels and inputs */
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
}

.add-button {
  background-color: var(--primary);
  /* Default button color */
  color: white;
  border: none;
  padding: 4px 4px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  /* Make button take full width */
  max-width: 100px;
  /* Limit maximum width of button */
  display: flex;
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
}

.add-button:disabled {
  background-color: #7f8c8d;
  /* Disabled button color */
}

.add-button span {
  margin-left: 5px;
  /* Add spacing between icon and text */
}

.add-button i {
  margin-right: 5px;
  /* Add spacing between icon and text */
}

.disabled {
  cursor: not-allowed;
  /* Change cursor when button is disabled */
}
/* Enabled button */
.prev-next-btn {
  color: white;
  /* Change the text color of enabled buttons */
  background-color: var(--primary);
  /* Change the background color of enabled buttons */
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Disabled button */
.prev-next-btn:disabled {
  background-color: #64748b1c;
  color: white;
  cursor: not-allowed;
}

.pn-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.app-table {
  width: 100%;
  border-collapse: separate;
  border-radius: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  /* Add border radius */
}

.app-table th,
.app-table td {
  padding: 8px;
  text-align: left;
}

.app-table th {
  background-color: #CFCFCF;
  color: black;
  font-weight: bold;
  text-align: center;
}

.app-table tbody tr:nth-child(odd) {
  background-color: #1e293b;
}

.app-table tbody tr:nth-child(even) {
  background-color: #1e293b;
}

.app-table tbody tr td {
  color: white;
  text-align: center;
}

.app-table tbody tr {
  border-bottom: 1px solid white;
  border-left: 10px solid transparent;
  border-radius: 10px;
  /* Add border radius */
}

.app-header {
  display: flex;
  justify-content: space-between;
}

.bottom-sheet-container {
  background-color: #1e293b;
  /* Change color here */
}

.delete-button {
  background-color: #ff181836;
  color: #ff1818;
  border-radius: 5px;
  padding: 4px;
}

.activate-button {
  background-color: #00a36c36;
  color: #00a36c;
  border-radius: 5px;
  padding: 4px;
}

.role-button {
  border: none;
  cursor: pointer;
  /* background-color: #2754ba36; */
  color: #2754ba;
  border-radius: 5px;
  font-weight: 700;
  padding: 4px;
}