@import './base.css';

#app .dashboard {

  display: flex;
  flex-direction: column;
    height: 100vh;
    /* Ensure dashboard takes up full viewport height */


  .main-content {
      display: flex;
      flex: 1;
      /* Grow to fill remaining space */
    }
.content {
  flex: 1;
  /* Grow to fill remaining space */
  padding: 20px;
  /* Adjust padding as needed */
  overflow-y: auto;
  /* Add scroll if content overflows */
  }
}


#app .login {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  .login body {
    display: flex;
    place-items: center;
  }

  #app .login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


.container {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  margin-bottom: 20px;
  /* Increased spacing between input boxes */
  width: 100%;
}

.input-box label {
  display: block;
  /* Display labels as block elements */
  margin-bottom: 5px;
  /* Add space between labels and inputs */
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
}

.add-button {
  background-color: var(--primary);
  /* Default button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  /* Make button take full width */
  max-width: 200px;
  /* Limit maximum width of button */
  display: flex;
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
}

.add-button:disabled {
  background-color: #7f8c8d;
  /* Disabled button color */
}

.add-button span {
  margin-left: 5px;
  /* Add spacing between icon and text */
}

.add-button i {
  margin-right: 5px;
  /* Add spacing between icon and text */
}

.disabled {
  cursor: not-allowed;
  /* Change cursor when button is disabled */
}