@import './base.css';

#app .dashboard {

  display: flex;
  flex-direction: column;
    height: 100vh;
    /* Ensure dashboard takes up full viewport height */


  .main-content {
      display: flex;
      flex: 1;
      /* Grow to fill remaining space */
    }
.content {
  flex: 1;
  /* Grow to fill remaining space */
  padding: 20px;
  /* Adjust padding as needed */
  overflow-y: auto;
  /* Add scroll if content overflows */
  }
}


#app .login {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-primary);
  transition: 0.4s;
  padding: 3px;
  font-weight: 600;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  .login body {
    display: flex;
    place-items: center;
  }

  #app .login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.container {
  background-color: #34495e;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 100px auto;
}
.input-box {
  width: 100%;
  margin-bottom: 20px;
}

.input-title {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: left;
}

.input-sub-title {
  color: #ffffff;
  margin-bottom: 15px;
  text-align: left;
}

.input-box label {
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.input-box input {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #95a5a6;
  background-color: #2c3e50;
  color: #ecf0f1;
}

.page-head{
  color: #2C3E50;
  font-weight: bold;
}

.custom-number-input {
  width: 100px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #95a5a6;
  background-color: #2c3e50;
  color: #ecf0f1;
  position: relative;
  margin-left: 12px;
}


.add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.add-button {
  background-color: var(--primary);
  color: white !important;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .remove-button {
    background-color: #eb0f0f;
    color: white !important;
    border: none;
    padding: 1px 4px;
    border-radius: 4px;
    margin-left: 12px;
    cursor: pointer;
    width: auto;
    display: flex;
    justify-content: center;
  align-items: center;
}

.material-block-row {
  display: flex;
  margin-bottom: 24px;
}

.add-button:disabled {
  background-color: #7f8c8d;
  /* Disabled button color */
}

.add-button span {
  margin-left: 5px;
  /* Add spacing between icon and text */
}

.add-button i {
  margin-right: 5px;
  /* Add spacing between icon and text */
}

.disabled {
  cursor: not-allowed;
  /* Change cursor when button is disabled */
}
/* Enabled button */
.prev-next-btn {
  color: white;
  /* Change the text color of enabled buttons */
  background-color: var(--primary);
  /* Change the background color of enabled buttons */
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

/* Disabled button */
.prev-next-btn:disabled {
  background-color: #64748b1c;
  color: #2C3E50;
  cursor: not-allowed;
  margin-top: 20px;
}

.pn-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.app-table {
  width: 100%;
  margin-bottom: 16px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  overflow: hidden;
  border-collapse: collapse;
}

.app-table th,
.app-table td {
  padding: 8px;
  text-align: left;
}

.app-table th {
  font-size: 12px;
}
.app-table td{
  font-size: 12px;
}
.app-table th {
  background-color: var(--vt-c-primary);
  color: white;
  font-weight: bold;
  text-align: center;
}

.app-table tbody tr td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  color: #5d5d5d;
  text-align: center;
}

.app-table tbody tr {
  border-bottom: 1px solid white;
  border-radius: 10px;
  /* Add border radius */
}

.app-header {
  display: flex;
  justify-content: space-between;
}

.bottom-sheet-container {
  background-color: #34495e;
  /* Change color here */
}

.delete-button {
  background-color: #ff181836;
  color: #ff1818;
  border-radius: 5px;
  padding: 4px;
}


.activate-button {
  background-color: #00a36c36;
  color: #00a36c;
  border-radius: 5px;
  padding: 4px;
}

.in-stock{
    background-color: #2ecc7136;
    color: #2ecc71;
    border-radius: 5px;
    padding: 4px;
}
.out-of-stock {
  background-color: #e74c3c36;
  color: #e74c3c;
  border-radius: 5px;
  padding: 4px;
}
.qa-issue{
  background-color: #f39c1236;
    color: #f39c12;
    border-radius: 5px;
    padding: 4px;
}
.in-production {
  background-color: #3498db36;
  color: #3498db;
  border-radius: 5px;
  padding: 4px;
}
.packaging, .in-review{
  background-color: #9b59b636;
  color: #9b59b6;
  border-radius: 5px;
  padding: 4px;
}

.out-for-delivery {
  background-color: #2980b936;
  color: #2980b9;
  border-radius: 5px;
  padding: 4px;
}
.delivered {
  background-color: #27ae6036;
  color: #27ae60;
  border-radius: 5px;
  padding: 4px;
}

.wait-review{
  background-color: #f39c1236;
  color: #f39c12;
  border-radius: 5px;
  padding: 4px;
}

.default-status {
  background-color: #f39c1236;
  color: #f39c12;
  border-radius: 5px;
  padding: 4px;
}
select {
  border-radius: 4px;
  color: #00a36c;
  font-weight: 600 !important;
}

option {
  color: black;
  font-weight: 500 !important;
}

option:disabled {
  color: #ccc;
  font-weight: 500 !important;
}
.role-button {
  border: none;
  cursor: pointer;
  /* background-color: #2754ba36; */
  color: var(--vt-c-primary);
  border-radius: 5px;
  font-weight: 700;
  padding: 4px;
}


/* Style radio buttons */
.radio-container input[type="radio"] {
  margin-right: 5px;
  /* Adjust spacing between radio button and label */
}

/* Style selected radio button */
.radio-container input[type="radio"]:checked+label {
  color: var(--primary);
  /* Change color of label when radio button is checked */
}

/* Customize radio button appearance */
.radio-container input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary);
  /* Change border color */
  border-radius: 50%;
  /* Make it round */
  outline: none;
  margin-right: 5px;
  /* Adjust spacing between radio button and label */
}

/* Customize radio button appearance when selected */
.radio-container input[type="radio"]:checked {
  background-color: var(--primary);
  /* Change background color when selected */
}

.radio-container label {
  display: block;
  /* Display labels in a block */
  margin-bottom: 10px;
  /* Add spacing between radio buttons */
}

.copyright {
  text-align: center;
  margin-top: 40px;
  color: var(--grey);
  font-size: 14px;
}

.no-records{
  width: 100%;
  text-align: center !important;
  color: #00a36c;
    margin-top: 32px;
      margin-bottom: 32px;
}

.no-records p{
  font-weight: 600;
  font-size: 12px;
}

.no-records-image {
  width: 8vw; 
  max-width: 80px;
  height: auto; 
}